<nav class="navbar navbar-expand-lg mt-4">
  <div class="container-fluid">
    <a href="{{ url_for('index') }}">
      <img src="{{ url_for('static', filename='img/logo.png') }}" alt="logo" class="navbar-brand">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item me-4">
          <a class="nav-link {{ 'fw-bold' if active_page == 'home' else '' }}" href="{{ url_for('index') }}">Home</a>
        </li>
        <li class="nav-item me-4">
          <a class="nav-link {{ 'fw-bold' if active_page == 'recommendation' else '' }}" href="{{ url_for('rekomendasi') }}">Fitur Rekomendasi</a>
        </li>
        <li class="nav-item me-4">
          <a class="nav-link {{ 'fw-bold' if active_page == 'team' else '' }}" href="{{ url_for('team') }}">Team</a>
        </li>
      </ul>
    </div>
  </div>
</nav>